NodeRed/NodeRedAutomatedGreenhouseFlow.txt
[
    {
        "id": "deec6724dda9f70a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "327334fb1fcc02b6",
        "type": "inject",
        "z": "deec6724dda9f70a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "36d14365de70f098",
        "type": "debug",
        "z": "deec6724dda9f70a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "9739b09cac485b67",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "get schedules header sets",
        "func": "msg.headers = {};\n\nmsg.headers[\"table\"] = \"Schedules\";\nmsg.headers[\"greenhouseID\"] = \"1\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "77e5b58387a462e4"
            ]
        ]
    },
    {
        "id": "77e5b58387a462e4",
        "type": "http request",
        "z": "deec6724dda9f70a",
        "name": "GET ALL SCHEDULE ENTRIES",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://eknqepv86f.execute-api.us-east-1.amazonaws.com/database/rds",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 160,
        "wires": [
            [
                "36d14365de70f098",
                "3fccab3c20997a7b"
            ]
        ]
    },
    {
        "id": "3fccab3c20997a7b",
        "type": "json",
        "z": "deec6724dda9f70a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "75039158ac64e680"
            ]
        ]
    },
    {
        "id": "75039158ac64e680",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "parse and find module / action => (moduleName action time)",
        "func": "for (let i = 0; i < msg.payload.length; i++)\n{\n    console.log(\"ModuleID: \" + msg.payload[i].moduleID + \n        \" time: \" + msg.payload[i].time +\n        \" action: \" + msg.payload[i].action);\n\n    var module = msg.payload[i].moduleID;\n    var action = msg.payload[i].action;\n    var time = msg.payload[i].time;\n\n    if (module === '1004')\n    {\n        msg.payload[0] = \"lights \" + action;\n        msg.payload[1] = time;\n    }\n    else if (module === '1003')\n    {\n        msg.payload[0] = \"fans \" + action;\n        msg.payload[1] = time;\n    }\n    else if (module === '1005')\n    {\n        msg.payload[0] = \"irrigation \" + action;\n        msg.payload[1] = time;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 400,
        "wires": [
            [
                "414a863cbcc046c4",
                "1d5c58836409b4e5"
            ]
        ]
    },
    {
        "id": "414a863cbcc046c4",
        "type": "switch",
        "z": "deec6724dda9f70a",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lights on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fans on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "irrigation on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lights off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fans off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "irrigation off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "f88bbed439dda984"
            ],
            [
                "9e85f37611e25dac"
            ],
            [
                "899b3c52c666ba8c"
            ],
            [
                "799159eceaf085f9"
            ],
            [
                "5cffa874e40a69c8"
            ],
            [
                "fb45fd169ca2a1bd"
            ]
        ]
    },
    {
        "id": "f88bbed439dda984",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "on_override",
        "func": "msg.payload = \"on_override \" + msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 300,
        "wires": [
            [
                "0bb5600012891cde"
            ]
        ]
    },
    {
        "id": "9e85f37611e25dac",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "off_override",
        "func": "msg.payload = \"off_override \" + msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 340,
        "wires": [
            [
                "0bb5600012891cde"
            ]
        ]
    },
    {
        "id": "0bb5600012891cde",
        "type": "bigtimer",
        "z": "deec6724dda9f70a",
        "outtopic": "",
        "outpayload1": "lights on",
        "outpayload2": "lights off",
        "name": "Light Timer",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": "480",
        "endtime": "1200",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "lights on",
        "outtext2": "lights off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 1110,
        "y": 320,
        "wires": [
            [
                "d081e3d54f4db1e0",
                "777850d5f4185c6b",
                "1d5e26be4d34f2b7"
            ],
            [],
            []
        ]
    },
    {
        "id": "d081e3d54f4db1e0",
        "type": "debug",
        "z": "deec6724dda9f70a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 260,
        "wires": []
    },
    {
        "id": "ad4cc7dc9b08867b",
        "type": "http request",
        "z": "deec6724dda9f70a",
        "name": "POST REQUEST",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://eknqepv86f.execute-api.us-east-1.amazonaws.com/iot/control",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1690,
        "y": 320,
        "wires": [
            [
                "96a7be67db2ac282"
            ]
        ]
    },
    {
        "id": "96a7be67db2ac282",
        "type": "debug",
        "z": "deec6724dda9f70a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 320,
        "wires": []
    },
    {
        "id": "777850d5f4185c6b",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "Lights (Module ID 1004) headers ON",
        "func": "if (msg.payload === 'lights on')\n{\n    msg.headers = {};\n    msg.headers['moduleid'] = '1004';\n    msg.headers['action'] = 'on';\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 300,
        "wires": [
            [
                "ad4cc7dc9b08867b"
            ]
        ]
    },
    {
        "id": "1d5e26be4d34f2b7",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "Lights (Module ID 1004) headers OFF",
        "func": "if (msg.payload === 'lights off') \n{\n    msg.headers = {};\n    msg.headers['moduleid'] = '1004';\n    msg.headers['action'] = 'off';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 340,
        "wires": [
            [
                "ad4cc7dc9b08867b"
            ]
        ]
    },
    {
        "id": "899b3c52c666ba8c",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "on_override",
        "func": "msg.payload = \"on_override \" + msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 420,
        "wires": [
            [
                "bb94015f8a3ec0fd"
            ]
        ]
    },
    {
        "id": "799159eceaf085f9",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "off_override",
        "func": "msg.payload = \"off_override \" + msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 460,
        "wires": [
            [
                "bb94015f8a3ec0fd"
            ]
        ]
    },
    {
        "id": "bb94015f8a3ec0fd",
        "type": "bigtimer",
        "z": "deec6724dda9f70a",
        "outtopic": "",
        "outpayload1": "fans on",
        "outpayload2": "fans off",
        "name": "Fans Timer",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": "480",
        "endtime": "1200",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "fans on",
        "outtext2": "fans off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "b92d62f4bf92d5aa",
                "0d116bc23cd7185a",
                "6dc3e92779812e0a"
            ],
            [],
            []
        ]
    },
    {
        "id": "b92d62f4bf92d5aa",
        "type": "debug",
        "z": "deec6724dda9f70a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "aa043dd4518f179e",
        "type": "http request",
        "z": "deec6724dda9f70a",
        "name": "POST REQUEST",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://eknqepv86f.execute-api.us-east-1.amazonaws.com/iot/control",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1690,
        "y": 440,
        "wires": [
            [
                "e92192b2e900fdb3"
            ]
        ]
    },
    {
        "id": "e92192b2e900fdb3",
        "type": "debug",
        "z": "deec6724dda9f70a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 440,
        "wires": []
    },
    {
        "id": "5cffa874e40a69c8",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "on_override",
        "func": "msg.payload = \"on_override \" + msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 540,
        "wires": [
            [
                "19387f8a59890c70"
            ]
        ]
    },
    {
        "id": "fb45fd169ca2a1bd",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "off_override",
        "func": "msg.payload = \"off_override \" + msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 580,
        "wires": [
            [
                "19387f8a59890c70"
            ]
        ]
    },
    {
        "id": "19387f8a59890c70",
        "type": "bigtimer",
        "z": "deec6724dda9f70a",
        "outtopic": "",
        "outpayload1": "irrigation on",
        "outpayload2": "irrigation off",
        "name": "Irrigation Timer",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": "480",
        "endtime": "1200",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "irrigation on",
        "outtext2": "irrigation off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 1120,
        "y": 560,
        "wires": [
            [
                "75ab8a3e238c1ae2",
                "ed036c9530cca4b5",
                "b0d1bcfa30bc322c"
            ],
            [],
            []
        ]
    },
    {
        "id": "75ab8a3e238c1ae2",
        "type": "debug",
        "z": "deec6724dda9f70a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 500,
        "wires": []
    },
    {
        "id": "d67aab7e12aa54fe",
        "type": "http request",
        "z": "deec6724dda9f70a",
        "name": "POST REQUEST",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://eknqepv86f.execute-api.us-east-1.amazonaws.com/iot/control",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1690,
        "y": 560,
        "wires": [
            [
                "cfddaaa89a915bc6"
            ]
        ]
    },
    {
        "id": "cfddaaa89a915bc6",
        "type": "debug",
        "z": "deec6724dda9f70a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 560,
        "wires": []
    },
    {
        "id": "0d116bc23cd7185a",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "Fans (Module ID 1003) headers ON",
        "func": "if (msg.payload === 'fans on') \n{\n    msg.headers = {};\n    msg.headers['moduleid'] = '1003';\n    msg.headers['action'] = 'on';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 420,
        "wires": [
            [
                "aa043dd4518f179e"
            ]
        ]
    },
    {
        "id": "6dc3e92779812e0a",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "Fans (Module ID 1003) headers OFF",
        "func": "if (msg.payload === 'fans off') \n{\n    msg.headers = {};\n    msg.headers['moduleid'] = '1003';\n    msg.headers['action'] = 'off';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 460,
        "wires": [
            [
                "aa043dd4518f179e"
            ]
        ]
    },
    {
        "id": "ed036c9530cca4b5",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "Irrigation (Module ID 1005) headers ON",
        "func": "if (msg.payload === 'irrigation on') \n{\n    msg.headers = {};\n    msg.headers['moduleid'] = '1005';\n    msg.headers['action'] = 'on';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 540,
        "wires": [
            [
                "d67aab7e12aa54fe"
            ]
        ]
    },
    {
        "id": "b0d1bcfa30bc322c",
        "type": "function",
        "z": "deec6724dda9f70a",
        "name": "Irrigation (Module ID 1005) headers OFF",
        "func": "if (msg.payload === 'irrigation off') \n{\n    msg.headers = {};\n    msg.headers['moduleid'] = '1005';\n    msg.headers['action'] = 'off';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 580,
        "wires": [
            [
                "d67aab7e12aa54fe"
            ]
        ]
    },
    {
        "id": "1d5c58836409b4e5",
        "type": "debug",
        "z": "deec6724dda9f70a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    }
]